:root {
    /* font-size */

    --fs-sm: 14px;
    --fs-md: 20px;
    --fs-lg: 22px;
    --fs-xl: 24px;
    --fs-xxl: 28px;
    --fs-3xl: 32px;
    /* font-weight */
    --fw-400: 400;
    --fw-500: 500;
    --fw-600: 600;


    /* color */
    --orange: #F36A3E;
    --black: #000000;
    --white_1: #FFFEFE;
    --white: #FFFFFF;
    --section2: #F9F9F9;
    --lightwhite: #FAFAFA;
    --footer_text: #E2E2E2;
    --box-shadow: #F36A3E66;
    --black-2: #0000000A;
    --black-border: #00000008;
    --img-shadow: #00000026;

    /* opacity */
    --op-90: 90%;
    --op-80: 80%;
    --op-70: 70%;

    /* line-height */
    --line-18: 18.96px;
    --line-62: 61.62px;
    --line-61: 61px;
    --line-24: 24.69px;
    --line-26: 26.07px;
    --line-47: 35px;
    --line-23: 23.7px;
    --line-28: 28.44px;

}

.img-shadow {
    color: var(--img-shadow);
}

.black-border {
    color: var(--black-border);
}

.box-shadow {
    color: var(--box-shadow);
}

.black-2 {
    color: var(--black-2);
}

.rubik {
    font-family: 'Rubik', sans-serif;
}

.work_sans {
    font-family: 'Work Sans', sans-serif;
}

.lightwhite {
    color: var(--lightwhite);
}

.footer_text {
    color: var(--footer_text);
}

.orange {
    color: var(--orange);
}

.black {
    color: var(--black);
}

.white {
    color: var(--white);
}

.white_1 {
    color: var(--white_1);
}

.section2 {
    color: var(--section2);
}

.line-18 {
    line-height: var(--line-18);
}

.line-62 {
    line-height: var(--line-62);
}

.line-61 {
    line-height: var(--line-61);
}

.line-24 {
    line-height: var(--line-24);
}

.line-26 {
    line-height: var(--line-26);
}

.line-47 {
    line-height: var(--line-47);
}

.line-23 {
    line-height: var(--line-23);
}

.line-28 {
    line-height: var(--line-28);
}

.op-90 {
    opacity: var(--op-90);
}

.op-80 {
    opacity: var(--op-80);
}

.op-70 {
    opacity: var(--op-70);
}

.fw-400 {
    font-weight: var(--fw-400);
}

.fw-500 {
    font-weight: var(--fw-500);
}

.fw-600 {
    font-weight: var(--fw-600);
}

.fs-16 {
    font-size: var(--fs-sm);
}

.fs-52 {
    font-size: var(--fs-3xl);
}

.fs-22 {
    font-size: var(--fs-lg);
}

.fs-40 {
    font-size: var(--fs-xxl);
}

.fs-20 {
    font-size: var(--fs-md);
}

.fs-24 {
    font-size: var(--fs-xl);
}



@media (min-width: 575px) {
    :root {
        --fs-3xl: 40px;
    }
}

@media (min-width: 768px) {
    :root {
        --fs-xxl: 30px;
        --line-47: 47px;
        --fs-sm: 16px;
    }
}

@media (min-width: 992px) {
    :root {
        --fs-3xl: 52px;
        --fs-xxl: 40px;

    }
}