@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url(../css/root.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
    list-style-type: none !important;
    text-decoration: none !important;
    /* outline: 1px solid red !important; */
}

.max-w-1140 {
    max-width: 1140px !important;
}

.max-w-1166 {
    max-width: 1166px !important;
}

.max-w-1070 {
    max-width: 1070px !important;
}

.max-w-1160 {
    max-width: 1160px !important;
}

/* preloader//////////////////////////////////// */
.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 110;
}

.loader_1 {
    width: fit-content;
    font-weight: bold;
    font-family: monospace;
    font-size: 30px;
    color: #0000;
    overflow: hidden;
    animation: l9 5s infinite cubic-bezier(0.3, 1, 0, 1);
}

.loader_1:before {
    content: "CV Hawk..."
}

@keyframes l9 {
    0% {
        text-shadow: 0 0 #000, 11ch 0 #8A9B0F, 22ch 0 #C02942, 33ch 0 #00A0B0, 44ch 0 #000
    }

    25% {
        text-shadow: -11ch 0 #000, 0ch 0 #8A9B0F, 11ch 0 #C02942, 22ch 0 #00A0B0, 33ch 0 #000
    }

    50% {
        text-shadow: -22ch 0 #000, -11ch 0 #8A9B0F, 0ch 0 #C02942, 11ch 0 #00A0B0, 22ch 0 #000
    }

    75% {
        text-shadow: -33ch 0 #000, -22ch 0 #8A9B0F, -11ch 0 #C02942, 0ch 0 #00A0B0, 11ch 0 #000
    }

    100% {
        text-shadow: -44ch 0 #000, -33ch 0 #8A9B0F, -22ch 0 #C02942, -11ch 0 #00A0B0, 0ch 0 #000
    }
}

.loader {
    animation: fade-in-down 3s ease infinite;
}

.max-w-1000 {
    max-width: 1000px;
}

@keyframes fade-in-down {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.svg-frame {
    position: relative;
    width: 300px;
    height: 300px;
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
    align-items: center;
}

.svg-frame svg {
    position: absolute;
    transition: .5s;
    z-index: calc(1 - (0.2 * var(--j)));
    transform-origin: center;
    width: 344px;
    height: 344px;
    fill: none;
}

.svg-frame:hover svg {
    transform: rotate(-80deg) skew(30deg) translateX(calc(45px * var(--i))) translateY(calc(-35px * var(--i)));
}

.svg-frame svg #center {
    transition: .5s;
    transform-origin: center;
}

.svg-frame:hover svg #center {
    transform: rotate(-30deg) translateX(45px) translateY(-3px);
}

#out2 {
    animation: rotate16 7s ease-in-out infinite alternate;
    transform-origin: center;
}

#out3 {
    animation: rotate16 3s ease-in-out infinite alternate;
    transform-origin: center;
    stroke: var(--yellow);
}

#inner3,
#inner1 {
    animation: rotate16 4s ease-in-out infinite alternate;
    transform-origin: center;
}

#center1 {
    fill: var(--yellow);
    animation: rotate16 2s ease-in-out infinite alternate;
    transform-origin: center;
}



@keyframes rotate16 {
    to {
        transform: rotate(360deg);
    }
}

.max-500 {
    max-width: 500px;
}

.mt_5_sm {
    margin-top: 80px !important;
}


/* bottom to top */

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    width: 60px;
    height: 60px;
    border: 2px solid var(--orange);
    outline: none;
    background-color: transparent;
    cursor: pointer;
    padding: 15px;
    border-radius: 50px;
    transition: all 400ms linear;
}



#myBtn:hover {
    box-shadow: 0px 0px 20px 0px var(--orange);
    transform: scale(1.1);

}

.icon_wid {
    width: 30px;
    height: 30px;
}


/* button */
.slick-slide {
    margin: 0px 8px 0px 8px;
}

.my-18 {
    margin-bottom: 18px;
}


.under_line {
    position: relative;
}

.under_line::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0;
    height: 1px;
    border-radius: 2px;
    background-color: var(--white);
    transition: all 300ms linear;
    margin-top: 5px;
}

.under_line:hover::after {
    width: 100%;
}

.op-80 {
    opacity: 80%;
}

.op-90 {
    opacity: 90%;
}

.img_shadow {
    box-shadow: 0px 3px 35px 0px var(--img-shadow);
    border-radius: 18px;
}

.gap_41 {
    gap: 41px;
}

.pb_ml_0 {
    padding-left: 0;
    margin-bottom: 0;
}

.btn_1 {
    padding: 17px 38px;
    background: var(--orange);
    border-radius: 41px;
    border: 1px solid transparent;
    transition: all 400ms linear;
}

.btn_1:hover {
    background: var(--white);
    border: 1px solid var(--orange);
    color: var(--orange);
    box-shadow: 0px 0px 20px 0px var(--orange);
}

.btn_2 {
    padding: 17px 38px;
    background: var(--white);
    border-radius: 41px;
    border: 1px solid var(--orange);
    transition: all 400ms linear;
}

.btn_2:hover {
    background: var(--orange);
    border: 1px solid var(--orange);
    color: var(--white);
    box-shadow: 0px 0px 20px 0px var(--orange);
}

.about_us {
    transition: all 300ms linear;
}

.about_us:hover {
    color: var(--orange);
}

.heading_1 {
    max-width: 766px;
}

.bg-color {
    background: var(--white_1);
}

.para_1 {
    max-width: 565px;
}

.pt-166 {
    padding-top: 166px;
}

.pt-14 {
    padding-top: 14px;
}

.gap-17 {
    gap: 17px;
}

.pt-40 {
    padding-top: 40px;
}

.pb-267 {
    padding-bottom: 267px;
}



.gap-32 {
    gap: 32px;
}

.pt_2 {
    padding-top: 2px;
}

.pt-33 {
    padding-top: 33px;
}

.pt-20 {
    padding-top: 20px;
}

.gap-6 {
    gap: 6px;
}

.pt-208 {
    padding-top: 208px;
}

.pt-63 {
    padding-top: 63px;
}

.last_line {
    max-width: 1440px;
    border: 1px solid var(--lightwhite);
    opacity: 20%;
}

.gap-194 {
    gap: 194px;
}

.gap-30 {
    gap: 30px;
}



.circle_absolute {
    top: 26%;
    left: 33%;
}

.circle_absolute_2 {
    top: 55%;
    right: 3%;

}

.small_box {
    left: 0%;
    bottom: 22%;
}

.small_box_2 {
    left: 50%;
    bottom: 15%;
}

.border_bottom_line::after {
    content: "";
    position: absolute;
    background-image: url(../images/svg/underline.svg);
    width: 274px;
    height: 11px;
    bottom: -10px;
    left: 0;
}

.border_bottom_line_2::after {
    content: "";
    position: absolute;
    background-image: url(../images/Rectangle68.png);
    width: 345px;
    height: 11px;
    bottom: -10px;
    left: 0;
}

.border_bottom_line_3::after {
    content: "";
    position: absolute;
    background-image: url(../images/line3.png);
    background-repeat: no-repeat;
    width: 376px !important;
    height: 7px;
    bottom: -10px;
    left: 0;
}

.pt-191 {
    padding-top: 191px;
}

.ellips-1 {
    top: 0%;
    left: 9%;
}

.line_2 {
    width: 294px;
    background: var(--black);
    opacity: 20%;
    height: 0.3px;
}

.slider_box {
    min-width: 156px;
    height: 141px;
    border-radius: 8px;
    background: var(--white);
    border: 1px solid var(--black-border);
    box-shadow: 0px 4px 30px 0px var(--black-2);
}

.pt-19 {
    padding-top: 19px;
}

.max-width_1 {
    max-width: 80px;
}

.pt-25 {
    padding-top: 25px;
}

.responsive .slick-current .slider_box {
    border: 1px solid var(--box-shadow);
}

.responsive .slick-current .slider_box h3 {
    color: var(--orange);
}


.slick-dots {
    justify-content: center;
    align-items: center;
    gap: 6px !important;
    display: flex !important;
}

.responsive .slick-dots li button:before {
    width: 16px;
    height: 5px;
    background-color: var(--black);
    position: absolute;
    left: 50%;
    border-radius: 6px;
    font-size: 0;
    opacity: 10% !important;
}

.responsive .slick-dots li.slick-active button:before {
    width: 23px;
    opacity: 1;
    height: 5px;
    background-color: var(--orange);
    /* transform: translateX(-38px); */
    opacity: 1 !important;
    top: -5%;
    margin-top: 1px;
}



.responsive_2 .slick-current .slider_box {
    border: 1px solid var(--box-shadow);
}

.responsive_2 .slick-current .slider_box h3 {
    color: var(--orange);
}


.slick-dots {
    justify-content: center;
    align-items: center;
    gap: 6px !important;
    display: flex !important;
}

.responsive_2 .slick-dots li button:before {
    width: 16px;
    height: 5px;
    background-color: var(--black);
    position: absolute;
    left: 50%;
    border-radius: 6px;
    font-size: 0;
    opacity: 10% !important;
}

.responsive_2 .slick-dots li.slick-active button:before {
    width: 23px;
    opacity: 1;
    height: 5px;
    background-color: var(--orange);
    /* transform: translateX(-38px); */
    opacity: 1 !important;
    top: -5%;
    margin-top: 1px;
}

.pt-165 {
    padding-top: 165px;
}

.bg_color {
    background: var(--section2) !important;
}

.box_absolute {
    top: 17%;
    left: 0%;
}

.box_absolute_2 {
    top: 15%;
    right: 0%;
}

.box_absolute_3 {
    bottom: 0%;
    left: 4%;
}

.box_absolute_4 {
    bottom: 0%;
    right: 4%;
}

.pb-160 {
    padding-bottom: 160px;
}

.para_3 {
    max-width: 487px;
}


.pt-24 {
    padding-top: 24px;
}

.py-80 {
    padding-top: 80px;
    padding-bottom: 80px;
}

.circle_absolute-2 {
    top: 6%;
    left: 3%;
}

.circle_absolute-3 {
    bottom: 22%;
    left: 41%;
}

.small_box-2 {
    top: 92px;
    right: 2%;
}

.para_5 {
    max-width: 556px;
}

.pt-16 {
    padding-top: 16px;
}

.btn_3 {
    max-width: 161px;
    padding: 17px 38px 17px 38px;
    background: var(--orange);
    border: 0;
    border-radius: 41px;
    transition: all 400ms linear;
}

.btn_3:hover {
    background: var(--white);

    color: var(--orange);
    box-shadow: 0px 0px 20px 0px var(--orange);
}

.mt-40 {
    margin-top: 40px;
}

.py-160 {
    padding-top: 160px;
    padding-bottom: 160px;
}

.img_wid_2 {
    max-width: 548px;
}

.Professio_nally {
    max-width: 558px;
}

.gap-9 {
    gap: 9px;
}

.pt-24 {
    padding-top: 24px;
}

.max-556 {
    max-width: 556px;
}

.py-107 {
    padding-top: 100px;
    padding-bottom: 107px;
}

.max-509 {
    max-width: 509px;
}

.ellps-2 {
    top: 15%;
    right: 14%;
}

.max-558 {
    max-width: 558px;
}

.width_465 {
    max-width: 465px;
}

.py-135 {
    padding-top: 135px;
    padding-bottom: 163px;
}

.ellips-3 {
    top: 10%;
    right: 0;
}

.pt-80 {
    padding-top: 80px;
}

.box_1 {
    max-width: 357px;
    border-radius: 10px;
    background: var(--white);
    padding: 15px 18px 14px 18px;
    box-shadow: 0px 18px 59px 0px var(--slider-box);
}

.mt-69 {
    margin-top: 69px;
}

.py-20 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.transform_scale {
    transition: all 400ms linear;
}

.transform_scale:hover {
    transform: scale(1.2);
}

.big_box {
    max-width: 1140px;
    border-radius: 21px;
    background: var(--orange);
    padding: 64px 235px;
    transform: translateY(186px);
    width: 100%;
}

.your_path {
    max-width: 669px;
}

.our_cv {
    max-width: 615px;
}

.btn_get {
    max-width: 168px;
    border-radius: 41px;
    padding: 17px 38px 17px 38px;
    border: 0;
    transition: all 400ms linear;
}

.btn_get:hover {
    background: var(--orange);
    color: var(--white);
    box-shadow: 0px 0px 20px 0px var(--white);
}

.max-168 {
    max-width: 168px;
}

.sit-urna {
    max-width: 321px;
}

.gap-10 {
    gap: 10px;
}

.pl-20 {
    padding-left: 20px;
}

.pt-71 {
    padding-top: 71px;
}

.vector_8 {
    bottom: -25px;
    left: 31px;
}

.vector_7 {
    bottom: -25px;
    left: 33px;
}

.vector_6 {
    bottom: -25px;
    left: 20px;
}

.vector_5 {
    bottom: -25px;
    left: 43px;
}

.vector_4 {
    bottom: -25px;
    left: 30px;
}

.pt-45 {
    padding-top: 45px;
}

.pt-34 {
    padding-top: 34px;
}

.pt-38 {
    padding-top: 38px;
}

.pt-88 {
    padding-top: 88px;
}

.pt-22 {
    padding-top: 22px;
}

.pb-80 {
    padding-bottom: 80px;
}

.pl-26 {
    padding-left: 26px;
}

.pl-10 {
    padding-left: 10px;
}

.pl-31 {
    padding-left: 31px;
}

.pl-21 {
    padding-left: 21px;
}

.slider_btn {
    width: 41px;
    height: 41px;
    border-radius: 50px;
    border: 1.42px solid var(--orange);
    transition: all 400ms linear;
}

.slider_btn:hover {
    background: var(--orange);

}

.svg_path:hover svg path {
    fill: white;
}

.svg_path {
    transition: all 400ms linear;
}

.next_btn {
    top: 49%;
    right: -43px;
}

.cursor {
    cursor: pointer;
}

.prevbtn {
    top: 49%;
    left: -43px;
}

.section_slider_elips {
    top: 44px;
    z-index: 0;
    left: 37%;
}

.ellips-4 {
    top: -10%;
    left: 0;
    z-index: 0;
}

.ellips-5 {
    top: 17%;
    right: 0;
    z-index: 0;
}

.ellips-6 {
    top: 4%;
    right: 0;
}

.ellips-7 {
    bottom: -148px;
    left: 0;
    z-index: 0;
}

.pt-160 {
    padding-top: 160px;
}

/* accordion */
.accordion-button:not(.collapsed) {

    background-color: transparent !important;
    box-shadow: transparent !important;
}

.accordion-button:focus {
    z-index: 3;
    outline: 0;
    box-shadow: none !important;
}

.accordian_wid {
    max-width: 856px;
}

.accordion_text {
    max-width: 786px;
}

.accordion-button {
    padding: 24px 0px 24px 0px !important;

}

.accordion-body {
    padding: 0 !important;
    padding-bottom: 24px !important;
}

.accordion-item {
    border-bottom: 1px solid var(--accordion-line) !important;
}

.accordion {
    --bs-accordion-border-color: none !important;
}

.pt-26 {
    padding-top: 26px;
}

.balck2 {
    color: var(--black2) !important;
}

.mb--180 {
    margin-bottom: -185px;
}

.accordion_para {
    max-width: 786px;
}

.ellips-9 {
    bottom: -330px;
    left: 0;
}

.para_4 {
    max-width: 525px;
}



@media (max-width:1200px) {
    .mobile_view {
        position: fixed;
        background: var(--white);
        height: 100vh;
        width: 100%;
        top: 0;
        left: -100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: all 400ms linear;
        /* background-color: #060400; */
        z-index: 4;
    }

    .menu {

        z-index: 60;
    }

    .overflow_hidden {
        overflow: hidden;
    }

    .menu span:nth-child(1) {
        height: 4px;
        width: 35px;
        background: var(--black);
        display: block;
        border-radius: 30px;
    }

    .menu span:nth-child(2) {
        height: 4px;
        width: 35px;
        background: var(--black);
        display: block;
        border-radius: 30px;
    }

    .menu span:nth-child(3) {
        height: 4px;
        width: 35px;
        background: var(--black);
        display: block;
        border-radius: 30px;
    }

    .menu span {
        transition: 300ms linear;
    }

    .cross span:nth-child(1) {
        transform: rotate(42deg) translateY(16px);
        transition: 300ms linear;
        background: var(--orange);
    }

    .cross span:nth-child(2) {
        transform: translateX(-100%);
        opacity: 0;
        transition: 10ms linear;
        background: var(--orange);
    }

    .cross span:nth-child(3) {
        transform: rotate(-43deg) translateY(-15px);
        transition: 300ms linear;
        background: var(--orange);
    }

    .right {
        left: 0%;
    }

    .flex-col {
        flex-direction: column;
    }

    .gap_36 {
        gap: 12px;
    }

    .over_flow_x {
        overflow-x: scroll;
    }

    .gap-194 {
        gap: 60px;
    }

    .next_btn {
        top: 50%;
        right: 7px;
    }

    .prevbtn {
        top: 50%;
        left: 7px;

    }

    .border_bottom_line_3::after {
        display: none !important;
    }
    .big_box{
        max-width: 950px;
    }
    .gap_41 {
        gap: 24px;
    }
    
      
}

@media (max-width: 992px) {
    .pt_60 {
        padding-top: 60px;
    }

    .box_absolute_1 {
        width: 122px;
        height: 134px;
    }

    .box_absolute_2 {
        width: 115px;
        height: 127px;
    }

    .box_absolute_3 {
        width: 185px;
        height: 205px;
    }

    .box_absolute_4 {
        width: 174px;
        height: 190px;
    }

    .ellips-1 {
        top: 12%;
    }

    .border_bottom_line_2::after {
        content: "";
        position: absolute;
        background-image: url(../images/Rectangle68.png);
        width: 345px;
        height: 11px;
        bottom: -10px;
        left: 0;
    }


    .big_box {

        padding: 64px 158px;
        transform: translateY(186px);
    }

    .pt_80 {
        padding-top: 80px;
    }

    .pt__40 {
        padding-top: 40px;
    }

    .pt_30 {
        padding-top: 30px;
    }

    .pl_53 {
        padding-left: 53px;
    }

    .box_1 {
        padding: 20px;
        box-shadow: 0px 9px 20px 0px var(--slider-box);
    }

    .section_slider_elips {
        left: 61%;
    }

    .small_box-2 {
        top: 17px;
        right: 2%;
    }

    .small_box_height_1 {
        width: 31px;
        height: 44px;
    }

    .circle_absolute_height_2 {
        width: 20px;
        height: 20px;
    }

    .pt-26 {
        padding-top: 36px;
    }
    .big_box {
        max-width: 754px;
        padding: 36px 81px;
        transform: translateY(86px);
    }
}

@media (min-width: 992px) {
    .para_2 {
        max-width: 499px;
    }

    .sit_urna {
        max-width: 373px !important;
    }

    .pl_50 {
        padding-left: 50px;
    }

    .ml_60 {
        margin-left: 80px;
    }

    .ml_20 {
        margin-left: 20px;
    }

    .responsive_3 .slick-slide {
        margin: 0px -30px;
    }

    .responsive_3 .slick-slide {
        margin-right: 30px;
        margin-left: 30px;
    }
   


}

@media (max-width: 768px) {
    .pt-191 {
        padding-top: 30px;
    }

    .ellips-4 {
        top: 68%;
        left: -20%;
        z-index: 0;
    }

    .pt-165 {
        padding-top: 100px;
    }

    .pb-267 {
        padding-bottom: 155px;
    }

    .circle_absolute_2 {
        top: 55%;
        transform: rotate(-40deg);
    }

    .small_box {
        bottom: 0;
    }

    .circle_absolute {
        top: 13%;
    }

    .ellips-1 {
        top: 18%;
    }

    .pb-160 {
        padding-bottom: 100px;
    }

    .circle_absolute-3 {
        bottom: 4%;
        left: 48%;
        transform: rotate(-43deg);
    }

    .border_bottom_line_2::after {
        display: none;
    }

    .pt_40 {
        padding-top: 40px;
    }

    .img_wid {
        max-width: 350px;
    }

    .img_wid_2 {
        max-width: 345px;
    }

    .py-160 {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .pt_44 {
        padding-top: 44px;
    }

    .py-107 {
        padding-top: 40px;
        padding-bottom: 50px;
    }

    .max-509 {
        max-width: 353px;
    }

    .width_465 {
        max-width: 342px;
    }

    .py-135 {
        padding-top: 100px;
        padding-bottom: 105px;
    }

     

    .small_box_2 {
        left: 50%;
        bottom: 5%;
    }

    .pt-160 {
        padding-top: 100px;
    }

    .accordion_para {
        max-width: 664px;
    }

    .pt-63 {
        padding-top: 30px;
    }

    .para_4 {
        max-width: 100%;
    }

    .mb--180 {
        margin-bottom: -124px;
    }

    .pt-208 {
        padding-top: 100px;
    }

    .mb__30 {
        margin-bottom: 30px;
    }
    .big_box{
        max-width: 550px;
    }

}

@media (min-width: 768px) {
    .sit_urna {
        max-width: 189px;
    }


}

@media (max-width: 578px) {
    .pt_60 {
        padding-top: 40px;
    }

    .pb-267 {
        padding-bottom: 35px;
    }

    .circle_absolute_2_height {
        width: 40px;
        height: 27px;
    }

    .small_box_height {
        width: 28px;
        height: 43px;
        transform: rotate(-30deg);
    }

    .circle_absolute_height {
        width: 20px;
        height: 20px;
    }

    .border_bottom_line::after {
        content: "";
        position: absolute;
        background-image: url(../images/svg/underline.svg);
        width: 171px;
        /* height: 8px; */
        bottom: -9px;
        left: 0;
    }

    .circle_absolute {
        top: 17%;
    }

    .big_box {
        max-width: 353px;
        padding: 61px 21px;
        transform: translateY(86px);
    }

    .next_btn {
        top: 85%;
        right: 130px;
    }

    .prevbtn {
        top: 85%;
        left: 130px;
    }

    .pb-80 {
        padding-bottom: 90px;
    }

    .box_1 {
        padding: 16px;
    }

    .para_1 {
        max-width: 343px;
    }

    .accordion_para {
        max-width: 306px !important;
        height: 68px !important;
    }
}


@media (max-width: 370px) {
    .text_wrap {
        flex-wrap: wrap;
    }

    .next_btn {
        top: 85%;
        right: 115px;
    }

    .prevbtn {
        top: 85%;
        left: 115px;
    }

    .big_box {
        max-width: 310px;

    }

}