@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url(../css/root.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
    list-style-type: none !important;
    text-decoration: none !important;
    /* outline: 1px solid red !important; */
}

.max-w-1140 {
    max-width: 1140px !important;
}

.max-w-1166 {
    max-width: 1166px !important;
}

.max-w-1070 {
    max-width: 1070px !important;
}

.max-w-1160 {
    max-width: 1160px !important;
}

.slick-slide {
    margin: 0px 8px 0px 8px;
}

.my-18 {
    margin-bottom: 18px;
}


.under_line {
    position: relative;
}

.under_line::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0;
    height: 2px;
    border-radius: 2px;
    background-color: var(--orange);
    transition: all 300ms linear;
    margin-top: 5px;
}

.under_line:hover::after {
    width: 100%;
}

.op-80 {
    opacity: 80%;
}

.img_shadow {
    box-shadow: 0px 3px 35px 0px #00000026;
}

.gap_41 {
    gap: 41px;
}

.pb_ml_0 {
    padding-left: 0;
    margin-bottom: 0;
}

.btn_1 {
    padding: 17px 38px;
    background: var(--orange);
    border-radius: 41px;
    border: 1px solid transparent;
    transition: all 300ms linear;
}

.btn_1:hover {
    background: var(--white);
    border: 1px solid var(--orange);
    color: var(--orange);
    box-shadow: 0px 0px 20px 0px var(--orange);
}

.btn_2 {
    padding: 17px 38px;
    background: var(--white);
    border-radius: 41px;
    border: 1px solid var(--orange);
    transition: all 300ms linear;
}

.btn_2:hover {
    background: var(--orange);
    border: 1px solid var(--orange);
    color: var(--white);
    box-shadow: 0px 0px 20px 0px var(--orange);
}

.about_us:hover {
    color: var(--orange);
}

.heading_1 {
    max-width: 766px;
}

.bg-color {
    background: var(--white_1);
}

.para_1 {
    max-width: 565px;
}

.pt-166 {
    padding-top: 166px;
}

.pt-14 {
    padding-top: 14px;
}

.gap-17 {
    gap: 17px;
}

.pt-40 {
    padding-top: 40px;
}

.pb-267 {
    padding-bottom: 267px;
}

.sit_urna {
    max-width: 373px;
}

.gap-32 {
    gap: 32px;
}

.pt_2 {
    padding-top: 2px;
}

.pt-33 {
    padding-top: 33px;
}

.pt-20 {
    padding-top: 20px;
}

.gap-6 {
    gap: 6px;
}

.pt-208 {
    padding-top: 208px;
}

.pt-63 {
    padding-top: 63px;
}

.last_line {
    max-width: 1440px;
    border: 1px solid var(--lightwhite);
    opacity: 20%;
}

.gap-194 {
    gap: 194px;
}

.gap-30 {
    gap: 30px;
}



.circle_absolute {
    top: 26%;
    left: 33%;
}

.circle_absolute_2 {
    top: 55%;
    right: 3%;
}

.small_box {
    left: 0%;
    bottom: 22%;
}

.small_box_2 {
    left: 50%;
    bottom: 15%;
}

.border_bottom_line::after {
    content: "";
    position: absolute;
    background-image: url(../images/svg/underline.svg);
    width: 274px;
    height: 11px;
    bottom: -10px;
    left: 0;
}

.border_bottom_line_2::after {
    content: "";
    position: absolute;
    background-image: url(../images/Rectangle68.png);
    width: 345px;
    height: 11px;
    bottom: -10px;
    left: 0;
}
.border_bottom_line_3::after{
    content: "";
    position: absolute;
    background-image: url(../images/Rectangle68.png);
    background-repeat: no-repeat;
    width: 376px !important;
    height: 7px;
    bottom: -10px;
    left: 0;
}

.pt-191 {
    padding-top: 191px;
}

.ellips-1 {
    top: 0%;
    left: 9%;
}

.line_2 {
    width: 294px;
    background: var(--black);
    opacity: 20%;
    height: 0.3px;
}

.slider_box {
    min-width: 156px;
    height: 141px;
    border-radius: 8px;
    background: var(--white);
    border: 1px solid var(--black-border);
    box-shadow: 0px 4px 30px 0px var(--black-2);
}

.pt-19 {
    padding-top: 19px;
}

.max-width_1 {
    max-width: 80px;
}

.pt-25 {
    padding-top: 25px;
}

.responsive .slick-current .slider_box {
    border: 1px solid var(--box-shadow);
}

.responsive .slick-current .slider_box h3 {
    color: var(--orange);
}


.slick-dots {
    justify-content: center;
    align-items: center;
    gap: 6px !important;
    display: flex !important;
}

.responsive .slick-dots li button:before {
    width: 16px;
    height: 5px;
    background-color: var(--black);
    position: absolute;
    left: 50%;
    border-radius: 6px;
    font-size: 0;
    opacity: 10% !important;
}

.responsive .slick-dots li.slick-active button:before {
    width: 23px;
    opacity: 1;
    height: 5px;
    background-color: var(--orange);
    /* transform: translateX(-38px); */
    opacity: 1 !important;
    top: -5%;
    margin-top: 1px;
}



.responsive_2 .slick-current .slider_box {
    border: 1px solid var(--box-shadow);
}

.responsive_2 .slick-current .slider_box h3 {
    color: var(--orange);
}


.slick-dots {
    justify-content: center;
    align-items: center;
    gap: 6px !important;
    display: flex !important;
}

.responsive_2 .slick-dots li button:before {
    width: 16px;
    height: 5px;
    background-color: var(--black);
    position: absolute;
    left: 50%;
    border-radius: 6px;
    font-size: 0;
    opacity: 10% !important;
}

.responsive_2 .slick-dots li.slick-active button:before {
    width: 23px;
    opacity: 1;
    height: 5px;
    background-color: var(--orange);
    /* transform: translateX(-38px); */
    opacity: 1 !important;
    top: -5%;
    margin-top: 1px;
}

.pt-165 {
    padding-top: 165px;
}

.bg_color {
    background: var(--section2) !important;
}

.box_absolute {
    top: 17%;
    left: 0%;
}

.box_absolute_2 {
    top: 15%;
    right: 0%;
}

.box_absolute_3 {
    bottom: 0%;
    left: 4%;
}

.box_absolute_4 {
    bottom: 0%;
    right: 4%;
}

.pb-160 {
    padding-bottom: 160px;
}

.para_3 {
    max-width: 487px;
}

.para_4 {
    max-width: 525px;
}

.pt-24 {
    padding-top: 24px;
}

.py-80 {
    padding-top: 80px;
    padding-bottom: 80px;
}

.circle_absolute-2 {
    top: 6%;
    left: 3%;
}

.circle_absolute-3 {
    bottom: 22%;
    left: 41%;
}

.small_box-2 {
    top: 92px;
    right: 2%;
}

.para_5 {
    max-width: 556px;
}

.pt-16 {
    padding-top: 16px;
}

.btn_3 {
    max-width: 161px;
    padding: 17px 38px 17px 38px;
    background: var(--orange);
    border: 0;
    border-radius: 41px;
}

.mt-40 {
    margin-top: 40px;
}

.py-160 {
    padding-top: 160px;
    padding-bottom: 160px;
}

.img_wid_2 {
    max-width: 548px;
}

.Professio_nally {
    max-width: 558px;
}

.gap-9 {
    gap: 9px;
}

.pt-24 {
    padding-top: 24px;
}

.max-556 {
    max-width: 556px;
}

.py-107 {
    padding-top: 100px;
    padding-bottom: 107px;
}

.max-509 {
    max-width: 509px;
}
.ellps-2{
    top: 15%;
    right: 14%;
}
.max-558{
    max-width: 558px;
}
 






















@media (max-width:1200px) {
    .mobile_view {
        position: fixed;
        background: var(--white);
        height: 100vh;
        width: 100%;
        top: 0;
        left: -100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: all 300ms linear;
        /* background-color: #060400; */
        z-index: 4;
    }

    .menu {

        z-index: 60;
    }

    .overflow_hidden {
        overflow: hidden;
    }

    .menu span:nth-child(1) {
        height: 4px;
        width: 35px;
        background: var(--black);
        display: block;
        border-radius: 30px;
    }

    .menu span:nth-child(2) {
        height: 4px;
        width: 35px;
        background: var(--black);
        display: block;
        border-radius: 30px;
    }

    .menu span:nth-child(3) {
        height: 4px;
        width: 35px;
        background: var(--black);
        display: block;
        border-radius: 30px;
    }

    .menu span {
        transition: 300ms linear;
    }

    .cross span:nth-child(1) {
        transform: rotate(42deg) translateY(16px);
        transition: 300ms linear;
        background: var(--orange);
    }

    .cross span:nth-child(2) {
        transform: translateX(-100%);
        opacity: 0;
        transition: 10ms linear;
        background: var(--orange);
    }

    .cross span:nth-child(3) {
        transform: rotate(-43deg) translateY(-15px);
        transition: 300ms linear;
        background: var(--orange);
    }

    .right {
        left: 0%;
    }

    .flex-col {
        flex-direction: column;
    }

    .gap_36 {
        gap: 12px;
    }

    .over_flow_x {
        overflow-x: scroll;
    }

    .gap-194 {
        gap: 50px;
    }
}

@media (max-width: 992px) {
    .pt_60 {
        padding-top: 60px;
    }

    /* .box_absolute {
        top: 17%;
        left: -3%;
    }
    
    .box_absolute_2 {
        top: 15%;
        right: -4%;
    }
    
    .box_absolute_3 {
        bottom: 0%;
        left: -6%;
    }
    
    .box_absolute_4 {
        bottom: 0%;
        right: -6%;
    } */
    .box_absolute_1 {
        width: 122px;
        height: 134px;
    }

    .box_absolute_2 {
        width: 115px;
        height: 127px;
    }

    .box_absolute_3 {
        width: 185px;
        height: 205px;
    }

    .box_absolute_4 {
        width: 174px;
        height: 190px;
    }

    .ellips-1 {
        top: 12%;
    }

    .border_bottom_line_2::after {
        content: "";
        position: absolute;
        background-image: url(../images/Rectangle68.png);
        width: 345px;
        height: 11px;
        bottom: -10px;
        left: 0;
    }
}

@media (min-width: 992px) {
    .para_2 {
        max-width: 499px;
    }

}

@media (max-width: 768px) {
    .pt-191 {
        padding-top: 30px;
    }

    .pt-165 {
        padding-top: 100px;
    }

    .pb-267 {
        padding-bottom: 155px;
    }

    .circle_absolute_2 {
        top: 75%;
    }

    .small_box {
        bottom: 0;
    }

    .circle_absolute {
        top: 19%;
    }

    .ellips-1 {
        top: 18%;
    }

    .pb-160 {
        padding-bottom: 100px;
    }

    .circle_absolute-3 {
        bottom: 4%;
        left: 48%;
        transform: rotate(-43deg);
    }

    .border_bottom_line_2::after {
        display: none;
    }

    .pt_40 {
        padding-top: 40px;
    }

    .img_wid {
        max-width: 350px;
    }

    .img_wid_2 {
        max-width: 345px;
    }

    .py-160 {
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .pt_44{
        padding-top: 44px;
    }

    .py-107 {
        padding-top: 40px;
        padding-bottom: 50px;
    }
    .max-509{
        max-width: 353px;
    }
    
}

@media (min-width: 768px) {}

@media (max-width: 578px) {
    .pt_60 {
        padding-top: 40px;
    }

    .pb-267 {
        padding-bottom: 35px;
    }

    .circle_absolute_2_height {
        width: 40px;
        height: 27px;
    }

    .small_box_height {
        width: 28px;
        height: 43px;
    }

    .circle_absolute_height {
        width: 20px;
        height: 20px;
    }

    .border_bottom_line::after {
        content: "";
        position: absolute;
        background-image: url(../images/svg/underline.svg);
        width: 171px;
        height: 8px;
        bottom: -4px;
        left: 0;
    }


}

@media (max-width: 370px) {
    .text_wrap {
        flex-wrap: wrap;
    }
}